<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='chat.css') }}">
</head>

<body>
    <main>
        <div class="prompt-result">
            <div>
                <div class="heading_container">
                    <h2>Responses</h2>
                    <a class="back_to_home" href="{{ url_for('home') }}">
                        Back To Home
                    </a>
                </div>
                
                <ul>
                    {% for chat_entry in chat %}
                    <li><span class="response-timeStamp">{{ chat_entry.response.timestamp }}:</span>
                        <div class="chat-response">
                            {{ chat_entry.response.chat }}
                        </div> 
                    </li>
                    {% endfor %}
                </ul>
                <a href="/">Back</a>
            </div>
        </main>
    </body>
</html>
